// Colors
$strong-blue: hsl(231, 67%, 5%);
$gray-blue: hsl(231, 18%, 21%);
$lighter-gray-blue: hsl(231, 7%, 68%);
$light-blue: hsl(199, 83%, 47%);
$white: hsl(0, 0%, 100%);

// Filters for svgs
$filter-lighter-gray-blue: invert(71%) sepia(0%) saturate(7216%)
  hue-rotate(325deg) brightness(93%) contrast(106%);
$filter-light-blue: invert(59%) sepia(54%) saturate(4704%) hue-rotate(167deg)
  brightness(94%) contrast(85%);

// Location
$navbar-bg: $strong-blue;
$nav-pp-bg: $gray-blue;
$nav-pages-txt: $lighter-gray-blue;
$nav-pages-svg: $filter-lighter-gray-blue;
$nav-hovers: $light-blue;
$nav-pages-txt-hover: $white;
$nav-pages-svg-hover: $filter-light-blue;
